@keyframes fill-svg-1 {
    0% {
        width: 0px;
    }
    100% {
        width: 42px;
    }
}
@keyframes fill-svg-2 {
    0% {
        width: 0px;
    }
    100% {
        width: 32px;
    }
}
@keyframes fill-svg-3 {
    0% {
        width: 0px;
    }
    100% {
        width: 42px;
    }
}
@keyframes fill-svg-4 {
    0% {
        width: 0px;
    }
    100% {
        width: 65px;
    }
}
@keyframes fill-svg-5 {
    0% {
        width: 0px;
    }
    100% {
        width: 93px;
    }
}
@keyframes fill-svg-6 {
    0% {
        width: 0px;
    }
    100% {
        width: 163px;
    }
}
